<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>aCard.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,846},{86,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{86,152}}</string>
                <key>sourceSize</key>
                <string>{88,154}</string>
            </dict>
            <key>aCardselected.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,692},{86,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{86,152}}</string>
                <key>sourceSize</key>
                <string>{88,154}</string>
            </dict>
            <key>bCard.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,626},{86,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{86,152}}</string>
                <key>sourceSize</key>
                <string>{88,154}</string>
            </dict>
            <key>bCardselected.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,538},{86,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{86,152}}</string>
                <key>sourceSize</key>
                <string>{88,154}</string>
            </dict>
            <key>blueBOOtile.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,538},{152,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,132}}</string>
                <key>sourceSize</key>
                <string>{152,132}</string>
            </dict>
            <key>blueBOtile.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,404},{152,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,132}}</string>
                <key>sourceSize</key>
                <string>{152,132}</string>
            </dict>
            <key>blueBasetile.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,404},{152,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,132}}</string>
                <key>sourceSize</key>
                <string>{152,132}</string>
            </dict>
            <key>blueBtile.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,404},{152,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,132}}</string>
                <key>sourceSize</key>
                <string>{152,132}</string>
            </dict>
            <key>blueOOtile.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,270},{152,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,132}}</string>
                <key>sourceSize</key>
                <string>{152,132}</string>
            </dict>
            <key>blueOtile.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,270},{152,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,132}}</string>
                <key>sourceSize</key>
                <string>{152,132}</string>
            </dict>
            <key>dCard.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,538},{86,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{86,152}}</string>
                <key>sourceSize</key>
                <string>{88,154}</string>
            </dict>
            <key>dCardselected.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,846},{86,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{86,152}}</string>
                <key>sourceSize</key>
                <string>{88,154}</string>
            </dict>
            <key>fCard.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,538},{86,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{86,152}}</string>
                <key>sourceSize</key>
                <string>{88,154}</string>
            </dict>
            <key>fCardselected.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,692},{86,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{86,152}}</string>
                <key>sourceSize</key>
                <string>{88,154}</string>
            </dict>
            <key>hexagon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,270},{152,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,132}}</string>
                <key>sourceSize</key>
                <string>{152,132}</string>
            </dict>
            <key>oCard.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,846},{86,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{86,152}}</string>
                <key>sourceSize</key>
                <string>{88,154}</string>
            </dict>
            <key>oCardselected.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,692},{86,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{86,152}}</string>
                <key>sourceSize</key>
                <string>{88,154}</string>
            </dict>
            <key>redBOOtile.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,136},{152,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,132}}</string>
                <key>sourceSize</key>
                <string>{152,132}</string>
            </dict>
            <key>redBOtile.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,136},{152,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,132}}</string>
                <key>sourceSize</key>
                <string>{152,132}</string>
            </dict>
            <key>redBasetile.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,136},{152,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,132}}</string>
                <key>sourceSize</key>
                <string>{152,132}</string>
            </dict>
            <key>redBtile.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,2},{152,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,132}}</string>
                <key>sourceSize</key>
                <string>{152,132}</string>
            </dict>
            <key>redOOtile.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,2},{152,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,132}}</string>
                <key>sourceSize</key>
                <string>{152,132}</string>
            </dict>
            <key>redOtile.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{152,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,132}}</string>
                <key>sourceSize</key>
                <string>{152,132}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>arcturus.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:17374355abe41d3ac69b67ffdc640592:3ae4e194fbefd526aba19c9488e5290f:250d43f57bdf531fc611a323f24e669c$</string>
            <key>textureFileName</key>
            <string>arcturus.png</string>
        </dict>
    </dict>
</plist>
